.starter {
  font-size: 18px;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__addForm {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
  }
}

// form {
//   display: flex;
//   flex-direction: column;
// }